#heading {
  color: palevioletred;
  margin-top: 55px;
}
.income{
  display: none;
}
.btn {
  background-color: rgba(0, 0, 255, 0.61);
  color: white;
  width: 150px;
}
.calculation-bg {
  background-color: beige;
  padding: 20px;
}
label {
  width: 200px;
  height: 70px;
}

/* Media Queries */
@media only screen and (min-width: 480px) {
  .calculation-bg {
    width: 450px;
  }
}
